@import "../../scss/variables";

.btn{
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    box-shadow: $btn-shadow;
    position: relative;
    &:hover, &:active{
        box-shadow: $btn-shadow-hover;
    }
    &__icon{
        width: 50%;
        height: 50%;
        &_check{
            height: 20px;
            width: 20px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            display: none;
        }
        &_spinner{
            position: absolute;
            height: 20px;
            width: 20px;
            top: calc(50% - 10px);
            left: calc(50% - 6px);
            background: url('img/spinner.svg') center no-repeat;
            background-size: contain;
            visibility: hidden;
        }
    }
    &__ripple{
        width: 0;
        height: 0;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        transform: scale(0);
        position: absolute;
        opacity: 1;
        animation: rippleDrop .6s linear;
    }
    &_base{
        background-color: $base-color;
        color: #fff;
        border-radius: 3px;
        padding: 10px 30px;
        font-size: 0.9rem;
        width: fit-content;
    }
    &_close{
        box-shadow: none;
        width: 20px;
        height: 20px;
        background-image: url('img/close.svg');
        background-size: cover;
        background-color: #fff;
        float: right;
    }
    &_outlined{
        background-color: #fff;
        color: $base-color;
        border: 2px solid $base-color;
        padding: 10px 30px;
        border-radius: 3px;
    }
    &_center{
        margin: 20px auto 0;
    }
}

@keyframes rippleDrop {
    100% {
      transform: scale(2);
      opacity: 0;
    }
}