.menu {
  z-index: 300;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh; }
  .menu__title {
    padding: 7px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .menu__title {
        display: none; } }
  .menu__phone {
    margin-top: 12px;
    text-decoration: none;
    padding-left: 20px; }
    @media screen and (min-width: 1024px) {
      .menu__phone {
        display: none; } }
  @media screen and (min-width: 1024px) {
    .menu__part {
      width: 50%;
      display: flex;
      justify-content: center; }
      .menu__part:nth-child(2) {
        padding-right: 50px; }
      .menu__part:nth-child(3) {
        padding-left: 50px; } }
  .menu__item {
    box-sizing: border-box;
    padding: 7px 15px;
    list-style-type: none;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    text-transform: uppercase; }
    .menu__item_has-children {
      position: relative; }
      .menu__item_has-children:after {
        content: "\203a";
        transform: rotate(90deg);
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0px;
        top: 12px;
        font-size: 28px;
        cursor: pointer; }
        @media screen and (min-width: 1024px) {
          .menu__item_has-children:after {
            right: 0px;
            top: 22px; } }
      .menu__item_has-children:hover .menu__submenu {
        display: block; }
    @media screen and (min-width: 1024px) {
      .menu__item {
        padding: 17px 15px;
        width: auto;
        border: none; }
        .menu__item:after {
          color: #fff;
          right: -10px;
          top: 20px; } }
  .menu__link {
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px; }
    @media screen and (min-width: 1024px) {
      .menu__link {
        color: #fff;
        padding: 17px 15px; } }
  .menu__submenu {
    display: none; }
    @media screen and (min-width: 1024px) {
      .menu__submenu {
        position: absolute;
        border: 1px solid #e2e2e2;
        background-color: #fff;
        top: 100%; } }
  .menu__submenu-item {
    text-transform: none !important;
    border: none; }
  .menu__submenu-link {
    white-space: nowrap;
    text-decoration: none; }
  .menu__dropdown {
    flex: 1 0 25%;
    align-items: center;
    display: flex; }
    @media screen and (min-width: 1024px) {
      .menu__dropdown {
        display: none; } }
  .menu__dropdown-img {
    width: 20px; }
  .menu__social {
    padding-left: 12px;
    margin-top: 20px; }
    @media screen and (min-width: 1024px) {
      .menu__social {
        display: none; } }
  .menu_visible {
    animation: slide 0.4s ease-in-out forwards; }
  .menu_hidden {
    animation: slide-reverse 0.4s ease-in-out forwards; }
  @media screen and (min-width: 1024px) {
    .menu {
      justify-content: space-between;
      flex-direction: row;
      position: static;
      padding: 0;
      box-shadow: none;
      width: 100%;
      background-color: #fd783e;
      z-index: 20;
      min-height: auto; } }

@keyframes slide {
  0% {
    left: -100%; }
  100% {
    left: 0%; } }

@keyframes slide-reverse {
  0% {
    left: 0%; }
  100% {
    left: -100%; } }
