doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Zoo-App
        link(href="style.css", rel='stylesheet')
    body
        .header__placeholder
        include ../blocks/header/header.pug
        block main
        include ../blocks/footer/footer.pug
        script(src="js/main.js")