doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
        link(href="style.css", rel='stylesheet')
    body
        include header.pug
        block main
        include footer.pug
        .scroller#scroller
            button.scroller__btn
        .mask#mask
        script(src="js/main.js")