header.header
    .header__placeholder
    .header__section.header__section_top
        .container.container_no-wrap
            .menu__dropdown#dropdown
                img.menu__dropdown-img#button(src="/img/menu.svg")
            
            




