@import "../scss/variables";

.heading{
    width: 100%;
    text-align: center;
    &_1{
        margin: 15px 0;
        @media screen and (min-width: $tablets){
            font-size: 32px;
            margin: 30px 0;
        }
    }
    &_2{

    }
}