@import "../../scss/variables.scss";
.menu{
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: all 0.4s ease;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: inherit;
  right: -50%;
  top: 92px;
  width: 50%;
  height: 300px;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  @media screen and (min-width: $l) {
    display: flex;
    visibility: visible;
    opacity: 1;
    position: static;
    box-shadow: none;
    height: auto;
  }
  &_visible{
    visibility: visible;
    opacity: 1;
    right: 0;
    transition: all 0.4s ease;
  }
  &__list{

  }
  &__list-item{

  }
  &__link{

  }
}