@import "../../scss/variables";

.scroller{
    
    visibility: hidden;
    opacity: 0;
    width: 38px;
    height: 38px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 20;
    transition: all 0.4s linear;
    &__btn{
        width: 100%;
        height: 100%;
        padding: 4px;
        background-color: black;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    &_visible{
        visibility: visible;
        background-color: black;
        opacity: 1;
        transition: all 0.4s linear;
    }
    @media screen and (min-width: $tablets){
        right: 38px;
        bottom: 38px;
    }
}